<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqGkNuccoBYNLRN7Zh9Eo1Q2jMcq5RCa0</string>
	<key>GCM_SENDER_ID</key>
	<string>108877976107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.basicCrud</string>
	<key>PROJECT_ID</key>
	<string>basiccrud-10821</string>
	<key>STORAGE_BUCKET</key>
	<string>basiccrud-10821.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108877976107:ios:51051301e388043889506e</string>
</dict>
</plist>